<!doctype html>
{% extends "base.html" %}

{% block pagetitle %}{{ ownerName }}s Wunschzettel - {% endblock %}
{% block header %}{{ ownerName }}s Wunschzettel{% endblock %}
{% block content %}
    <details>
        <summary>Stats</summary>
        Erledigte Wünsche: {{ stats['fulfilled'] }}/{{ stats['count'] }} <br>
        Gelöschte Wünsche: {{ stats['nrDeleted'] }}
    </details>
    {% if message %}
        <div class="message-card">
            <p>
                {{ message }}
                {% if messageUndo %}
                <form class="undo-form" method="post">
                    <input type="hidden" name="action" value="{{ messageUndo['action'] }}">
                    <input type="hidden" name="wishId" value="{{ messageUndo['wishID'] }}">
                    <input class="undo-button" type="submit" value="Rückgängig">
                </form>
                {% endif %}
            </p>
        </div>
    {% endif %}

    <a href="/admin/addWish">Neuen Wunsch hinzufügen</a>

    {% for wish in orderedWishlist %}
        <article>
                <h3>
                    {% if wish.link %}
                        <a href="{{ wish.link }}">{{ wish.title }}</a>
                    {% else %}
                        {{ wish.title }}
                    {% endif %}
                </h3>
                <details>
                    <summary>Spoiler</summary>
                    {% if wish.giver %}
                        Dieser Wunsch wird dir geschenkt von {{ wish.giver }}!
                    {% else %}
                        Dieser Wunsch ist noch offen.
                    {% endif %}
                </details>
                {% if wish.desc %}
                    <p>
                        {{ wish.desc }}
                    </p>
                {% endif %}
                {% if wish.link %}
                    <p>
                        <a class="shop-link" href="{{ wish.link }}">Ansehen auf {{ wish.getLinkDomain() }}</a>
                    </p>
                {% endif %}
                <p>
                    <a href="/admin/editWish/{{ wish.id }}">Wunsch bearbeiten</a>
                    <a href="/admin/addWish?copy={{ wish.id }}">Wunsch kopieren</a>
                </p>
                <form method="post">
                    <p>
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="wishId" value="{{ wish.id }}">
                        <input class="danger-button" type="submit" value="Wunsch löschen">
                    </p>
                </form>
        </article>
    {% endfor %}
    <details>
        <summary>Gelöschte Wünsche</summary>
        {% for wish in orderedDeletedWishlist %}
            <article>
                <details>
                    <summary>
                        {{ wish.title }}
                    </summary>
                    {% if wish.desc %}
                        <p>
                            {{ wish.desc }}
                        </p>
                    {% endif %}
                    {% if wish.link %}
                        <p>
                            <a class="shop-link" href="{{ wish.link }}">Ansehen auf {{ wish.getLinkDomain() }}</a>
                        </p>
                    {% endif %}
                </details>
                <form method="post">
                    <p>
                        <input type="hidden" name="action" value="restore">
                        <input type="hidden" name="wishId" value="{{ wish.id }}">
                        <input class="restore-button" type="submit" value="Wunsch wiederherstellen">
                    </p>
                </form>
                <p>
                    <a class="edit-as-new-button" href="/addWish?copy={{ wish.id }}"">Wunsch als neu bearbeiten</a>
                </p>
            </article>
        {% endfor %}
    </details>
{% endblock %}