<!doctype html>
{% extends "base.html" %}

{% block pagetitle %}{{ ownerName }}s Wunschzettel - {% endblock %}
{% block header %}{{ ownerName }}s Wunschzettel{% endblock %}
{% block content %}
    <details>
        <summary>Stats</summary>
        Erledigte Wünsche: {{ stats['fulfilled'] }}/{{ stats['count'] }}
    </details>
    {% if message %}
        <div class="message-card">
            <p>
                {{ message }}
            </p>
        </div>
    {% endif %}
    {% for wish in orderedWishlist %}
        <article>
                <h3>
                    {% if wish.link %}
                        <a href="{{ wish.link }}">{{ wish.title }}</a>
                    {% else %}
                        {{ wish.title }}
                    {% endif %}
                </h3>
                <details>
                    <summary>Spoiler</summary>
                    {% if wish.giver %}
                        Dieser Wunsch wird dir geschenkt von {{ wish.giver }}!
                    {% else %}
                        Dieser Wunsch ist noch offen.
                    {% endif %}
                </details>
                {% if wish.desc %}
                    <p>
                        {{ wish.desc }}
                    </p>
                {% endif %}
                {% if wish.link %}
                    <p>
                        <a class="shop-link" href="{{ wish.link }}">Ansehen auf {{ wish.getLinkDomain() }}</a>
                    </p>
                {% endif %}
                <form method="post">
                    <p>
                        <input type="submit" value="Wunsch bearbeiten">
                    </p>
                </form>
                <form method="post">
                    <p>
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="wishId" value="{{ wish.id }}">
                        <input class="danger-button" type="submit" value="Wunsch löschen">
                    </p>
                </form>
        </article>
    {% endfor %}
{% endblock %}