<!doctype html>
{% extends "base.html" %}

{% block pagetitle %}{{ ownerName }}s Wunschzettel - {% endblock %}
{% block header %}{{ ownerName }}s Wunschzettel{% endblock %}
{% block content %}
    <details>
        <summary>Stats</summary>
        <p>
            Erledigte Wünsche: {{ stats['fulfilled'] }}/{{ stats['count'] }} <br>
            Gelöschte Wünsche: {{ stats['nrDeleted'] }}
        </p>
    </details>
    {% if message %}
        <div class="message-card">
            <span class="message">{{ message }}</span>
            {% if messageUndo %}
            <form method="post">
                <input type="hidden" name="action" value="{{ messageUndo['action'] }}">
                <input type="hidden" name="wishId" value="{{ messageUndo['wishID'] }}">
                <input type="submit" value="Rückgängig">
            </form>
            {% endif %}
        </div>
    {% endif %}

    <p><a href="/admin/addWish" class="button">Neuen Wunsch hinzufügen</a></p>

    {% for wish in orderedWishlist %}
        <article>
                <h3>
                    {% if wish.link %}
                        <a href="{{ wish.link }}">{{ wish.title }}</a>
                    {% else %}
                        {{ wish.title }}
                    {% endif %}
                </h3>
                <details>
                    <summary>Spoiler</summary>
                    <p>
                        {% if wish.giver %}
                            Dieser Wunsch wird dir geschenkt von {{ wish.giver }}!
                        {% else %}
                            Dieser Wunsch ist noch offen.
                        {% endif %}
                    </p>
                </details>
                {% if wish.desc %}
                    <p>
                        {{ wish.desc }}
                    </p>
                {% endif %}
                {% if wish.link %}
                    <p>
                        <a href="{{ wish.link }}">Ansehen auf {{ wish.getLinkDomain() }}</a>
                    </p>
                {% endif %}
                <div class="button-row">
                    <a href="/admin/editWish/{{ wish.id }}" class="button">Wunsch bearbeiten</a>
                    <a href="/admin/addWish?copy={{ wish.id }}" class="button">Wunsch kopieren</a>
                    <form method="post" class="inline">
                        <input type="hidden" name="action" value="delete">
                        <input type="hidden" name="wishId" value="{{ wish.id }}">
                        <input class="button danger" type="submit" value="Wunsch löschen">
                    </form>
                </div>
        </article>
    {% endfor %}
    <details>
        <summary>Gelöschte Wünsche</summary>
        {% for wish in orderedDeletedWishlist %}
            <article>
                <details>
                    <summary>
                        {{ wish.title }}
                    </summary>
                    {% if wish.desc %}
                        <p>
                            {{ wish.desc }}
                        </p>
                    {% endif %}
                    {% if wish.link %}
                        <p>
                            <a href="{{ wish.link }}">Ansehen auf {{ wish.getLinkDomain() }}</a>
                        </p>
                    {% endif %}
                </details>
                <div>
                    <form method="post" class="inline">
                        <input type="hidden" name="action" value="restore">
                        <input type="hidden" name="wishId" value="{{ wish.id }}">
                        <input type="submit" value="Wunsch wiederherstellen">
                    </form>
                    <a class="button" href="/admin/addWish?copy={{ wish.id }}">Wunsch als neu bearbeiten</a>
                </div>
            </article>
        {% endfor %}
    </details>
    <form method="post">
        <p>
            <input type="hidden" name="action" value="regenerateAdminLink">
            <input class="buttom danger" type="submit" value="Neuen Admin-Link generieren">
        </p>
    </form>
{% endblock %}

{% block adminFooter %}
<p class="admin-footer">Admin-Link: <a href="{{ loginLink }}">{{ loginLink }}</a></p>
{% endblock %}