<!doctype html>
{% extends "base.html" %}

{% block pagetitle %}{{ ownerName }}s Wunschzettel - {% endblock %}
{% block header %}{{ ownerName }}s Wunschzettel{% endblock %}
{% block content %}
    {% if noSpoiler %}
    <article class="no-spoiler-info">
        <h3>Du bist auf der Spoiler-freien Ansicht!</h3>
        <details>
            <summary>Stats</summary>
            <p>
                Wünsche gesamt: {{ stats['count'] }}<br>
                Endlose Wünsche: {{ stats['endless'] }}<br>
                Erledigte Wünsche: {{ stats['fulfilled'] }}<br>
                Offene, nicht-endlose Wünsche: {{ stats['count']-stats['endless']-stats['fulfilled'] }}<br>
                Offene Wünsche gesamt: {{ stats['count']-stats['fulfilled'] }}
            </p>
        </details>
        <p><a href="/yes-spoiler" class="button">Spoiler anzeigen</a></p>
    </article>
    {% endif %}
    {% if orderedWishlist|length == 0 %}
        <p>Dieser Wunschzettel ist leer!</p>
    {% else %}
        {% for wish in orderedWishlist %}
            <article>
                {% if wish.isFulfilled() and ((not noSpoiler) or (wish.hasMatchingSecretIn(userFulfilledWishes))) %}<del>{% endif %}
                    <h3>
                        {% if wish.link %}
                            <a href="{{ wish.link }}">{{ wish.title }}</a>
                        {% else %}
                            {{ wish.title }}
                        {% endif %}
                        {% if wish.isFulfilled() and (wish.hasMatchingSecretIn(userFulfilledWishes)) %}
                            (schenkst du)
                        {% elif wish.isFulfilled() and (not noSpoiler) %}
                            (wird schon geschenkt)
                        {% endif %}
                    </h3>
                    {% if wish.desc %}
                        <p>
                            {{ wish.desc }}
                        </p>
                    {% endif %}
                    {% if wish.link %}
                        <p>
                            <a href="{{ wish.link }}">Ansehen auf {{ wish.getLinkDomain() }}</a>
                        </p>
                    {% endif %}
                    {% if (not wish.isFulfilled()) or (noSpoiler and (not (wish.hasMatchingSecretIn(userFulfilledWishes)))) %}
                        <p>
                            <a class="button" href="/wishes/{{ wish.id }}">Das schenke ich!</a>
                        </p>
                    {% endif %}
                {% if wish.isFulfilled() and ((not noSpoiler) or (wish.hasMatchingSecretIn(userFulfilledWishes))) %}</del>{% endif %}
                {% if wish.hasMatchingSecretIn(userFulfilledWishes) %}
                    <p>
                        <a class="button" href="/wishes/{{ wish.id }}/{{ wish.secret }}">Wunsch wieder als offen markieren</a>
                    </p>
                {% endif %}
            </article>
        {% endfor %}
    {% endif %}
{% endblock %}