<!doctype html>
{% extends "base.html" %}

{% block pagetitle %}Nessies Wunschzettel - {% endblock %}
{% block header %}Nessies Wunschzettel{% endblock %}
{% block content %}
    {% for wish in wishlist.getPriorityOrderedWishes() %}
        <article>
            {% if wish.link %}
            <h3><a href="{{ wish.link }}">{{ wish.title }}</a></h3>
            {% else %}
            <h3>{{ wish.title }}</h3>
            {% endif %}
            {{ wish.desc }}
        </article>
    {% endfor %}
{% endblock %}