<!doctype html>
{% extends "base.html" %}

{% block pagetitle %}{{ ownerName }}s Wunschzettel - {% endblock %}
{% block header %}{{ ownerName }}s Wunschzettel{% endblock %}
{% block content %}
    <form class="edit-wish-form" method="post">
        <label class="edit-line">
            <span class="input-label">Wunschtitel:</span>
            <input type="text" name="title" placeholder="Titel" autofocus="True" {% if template %}value="{{ template.title }}"{% endif %} required>
        </label>

        <details>
            <summary>Schenker-Info</summary>
            <span class="edit-line">
                <label class="input-label">Geschenkt von:</label>
                <input type="text" name="giver" placeholder="Schenker" {% if template %}value="{{ template.giver }}"{% endif %}>
            </span>
        </details>

        <label class="edit-line">
            <span class="input-label">Priorität (1-5):</span>
            <input type="number" name="priority" min="1" max="5" {% if template %}value="{{ template.priority }}"{% endif %} required>
        </label>

        <label class="edit-line">
            <span class="input-label">Link:</span>
            <input type="url" name="link" placeholder="https://" {% if template %}value="{{ template.link }}"{% endif %}>
        </label>

        <label class="edit-line">
            <span class="input-label">Beschreibung:</span>
            <div class="autosize-textarea">
              <textarea name="desc" placeholder="Ich wünsche mir…">{% if template %}{{ template.desc }}{% endif %}</textarea>
            </div>
        </label>

        <label class="edit-line">
            <span class="checkbox-wrapper"><input type="checkbox" name="endless" {% if template %}{% if template.endless %}checked{% endif %}{% endif %}></span>
            <span class="checkbox-label">Unendlich viele gewünscht</span>
       </label>

        <input class="save-wish-button" type="submit" value="Wunsch speichern">
    </form>
{% endblock %}